<div class="standard-frame">
  <div class="header-text pt-1">{{ recipe.name }}</div>
  <div #divToAnimate class="overflow-hidden div-anim">
    <div>{{ recipe.description }}</div>
    <span class="header-text py-2">Składniki:</span>
    <div
      class="pl-2 items-center"
      *ngFor="let ingredient of recipe.ingredients"
    >
      - {{ ingredient.name }}: {{ ingredient.value }} {{ ingredient.unit }}
    </div>
  </div>
  <div class="pt-2 flex justify-between">
    <span class="standard-button w-32 text-center" (click)="showMoreButton()"
      ><span *ngIf="showMore">Zwiń przepis</span
      ><span *ngIf="!showMore">Rozwiń przepis</span></span
    >
    <span class="standard-button" (click)="select()">Wybierz</span>
  </div>
</div>
