<div class="standard-frame">
  <div class="header-text text-2xl">{{ wine.name }}</div>
  <div class="header-text py-1">Składniki</div>
  <div
    class="pl-2 items-center"
    *ngFor="let ingredient of wine.recipe.ingredients"
  >
    - {{ ingredient.name }}: {{ (ingredient.value * wine.capacity) / 10 }}
    {{ ingredient.unit }}
  </div>
  <div class="header-text py-1">Etapy produkcji</div>
  <div *ngFor="let stage of wine.recipe.productStages; index as i">
    <div class="font-semibold days-container items-center">
      <span>Dzień:</span>
      <ion-input
        class="text-center"
        [disabled]="i === 0"
        min="0"
        type="number"
        [(ngModel)]="statesDays[i]"
      ></ion-input>
      <span>&nbsp;-&nbsp;{{ stage.name }}</span>
    </div>
    <div class="pb-1 pl-2">
      {{ stage.description }}
    </div>
  </div>
  <div class="pt-4 flex justify-between">
    <span class="standard-button" (click)="backClick()">Cofnij</span>
    <span class="standard-button" (click)="addRecipe()">Dodaj</span>
  </div>
</div>
