<div class="standard-frame" (click)="select()">
  <div class="flex justify-between">
    <div class="big-header-text pt-1">{{ recipe.name }}</div>
    <ion-icon
      *ngIf="!recipe.id.includes('s-')"
      (click)="deleteRecipe($event)"
      name="trash-outline"
    ></ion-icon>
  </div>
  <div class="header-text py-1">Składniki na 10 litrów</div>
  <div *ngIf="204 - recipe.sugar > 0">- cukier</div>
  <div *ngFor="let ingredient of recipe.ingredients">
    - {{ ingredient.name }}: {{ ingredient.value }}
    {{ ingredient.unit }}
  </div>
</div>
