<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="absolute top-1 left-0" slot="start">
      <ion-back-button
        (click)="backClick()"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> Wino </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="standard-frame">
    <div class="flex">
      <div class="w-20 relative">
        <img class="w-20" src="assets/icons/Demijohn.svg" />
        <div class="demijohn-text header-text">{{ wine.capacity }}&nbsp;l</div>
      </div>
      <div class="pl-2 w-full">
        <div class="header-text">{{ wine.name }}</div>
        <hr class="my-1" />
        <div>Data utworzenia: {{ wine.createDate | date: "dd.MM.yyyy" }}</div>
        <div>{{ Sweetness[wine.sweetness] }}, {{ wine.power }}%</div>
      </div>
    </div>
    <div class="header-text py-1">Drożdże</div>
    <div class="pl-2">
      {{ wine.yeast }}<br />
      Tolerancja: {{ wine.yeastTolerance }}%
    </div>
    <div class="header-text py-1">Składniki</div>
    <div
      class="pl-2 items-center"
      *ngFor="let ingredient of wine.recipe.ingredients"
    >
      - {{ ingredient.name }}: {{ (ingredient.value * wine.capacity) / 10 }}
      {{ ingredient.unit }}
    </div>

    <div class="py-4">
      <div class="header-text">Następny etap</div>

      <div class="pl-1 flex items-center">
        <ion-datetime
          class="datetime-input"
          displayFormat="DD.MMM.YYYY"
          [max]="nextYear"
          monthShortNames="STY, LUT, MAR, KWI, MAJ, CZE, LIP, SIE, WRZ, PAZ, LIS, GRU"
          doneText="Zatwierdź"
          [value]="getNearestDate()"
          cancelText="Anuluj"
          (ionChange)="changeDate($event)"
        ></ion-datetime>
        &nbsp;-
        {{ nearestStage.name }}
      </div>
      <div class="pl-1">
        {{ getStageDescription(nearestStage.name) }}
      </div>
      <div class="pl-2 pb-1 pt-1 flex flex-wrap">
        <ng-container *ngFor="let guide of nearestStage.guides">
          <div
            class="mr-2 mb-1 flex items-center reference"
            (click)="openGuides(guide.slug)"
          >
            <ion-icon name="book-outline"></ion-icon>&nbsp;{{ guide.name }}
          </div>
        </ng-container>
      </div>
      <div class="flex justify-end">
        <span class="standard-button" (click)="doStage()">Etap wykonany!</span>
      </div>
    </div>

    <span class="header-text py-4">Etapy produkcji</span>
    <div
      class="pl-2 items-center stages-container"
      *ngFor="let stage of wine.recipe.productStages; index as i"
    >
      <ion-checkbox disabled [(ngModel)]="wine.stagesDone[i]"></ion-checkbox>
      <div class="pl-1">
        {{ stage.date + wine.createDate | date: "dd.MM.yyyy" }}
      </div>
      <div class="pl-1">{{ stage.name }}</div>
    </div>
  </div>
</ion-content>
