<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="absolute top-1 left-0" slot="start">
      <ion-back-button
        (click)="backClick()"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> {{ wine.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="standard-frame">
    <div class="flex">
      <div class="w-20 relative">
        <img src="assets/icons/Demijohn.svg" />
        <div class="demijohn-text header-text">{{ wine.capacity }}&nbsp;l</div>
      </div>
      <div class="pl-2 w-full header-text">
        <div>Słodkość: {{ Sweetness[wine.sweetness] }}</div>
        <div>Rocznik: {{ wine.createDate | date: "yyyy" }}</div>
        <div>Moc: {{ wine.power }}%</div>
      </div>
    </div>
    <span class="header-text py-4">Drożdże</span>
    <div class="pl-2">{{ wine.yeast }}</div>
    <span class="header-text py-4">Składniki</span>
    <div
      class="pl-2 items-center"
      *ngFor="let ingredient of wine.recipe.ingredients"
    >
      - {{ ingredient.name }}: {{ (ingredient.value * wine.capacity) / 10 }}
      {{ ingredient.unit }}
    </div>

    <div class="py-4">
      <div class="header-text">Najbliższy etap</div>
      <div class="pl-1">
        {{
          wine.recipe.productStages[nearestStageIndex].date + wine.createDate
            | date: "dd.MM.yyyy"
        }}
        -
        {{ wine.recipe.productStages[nearestStageIndex].name }}
      </div>
      <div class="pl-1">
        {{ wine.recipe.productStages[nearestStageIndex].description }}
      </div>
      <div class="pt-1 flex justify-between">
        <ion-datetime
          class="small-button"
          displayFormat="DD.MMM.YYYY"
          monthShortNames="STY, LUT, MAR, KWI, MAJ, CZE, LIP, SIE, WRZ, PAZ, LIS, GRU"
          doneText="Zatwierdź"
          cancelText="Anuluj"
          placeholder="Zmień datę"
          (ionChange)="changeDate($event)"
        ></ion-datetime>
        <span class="small-button" (click)="doStage()">Wykonaj</span>
      </div>
    </div>

    <span class="header-text py-4">Etapy produkcji</span>
    <div
      class="pl-2 items-center stages-container"
      *ngFor="let stage of wine.recipe.productStages; index as i"
    >
      <ion-checkbox disabled [(ngModel)]="wine.stagesDone[i]"></ion-checkbox>
      <div class="pl-1">
        {{ stage.date + wine.createDate | date: "dd.MM.yyyy" }}
      </div>
      <div class="pl-1">{{ stage.name }}</div>
    </div>
  </div>
</ion-content>
