.picker-wrapper {
  background-color: var(--ion-color-primary) !important;
}

.picker-button {
  color: var(--ion-text-color) !important;
}

.picker-opt {
  color: #c4c4c4 !important;
}

.picker-opt.picker-opt-selected {
  color: var(--ion-text-color) !important;
}
