<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="absolute top-1 left-0" slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> Nowy przepis </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="!showPreview">
    <div class="standard-frame">
      <div class="header-text py-1">Nazwa</div>
      <ion-input
        placeholder="Nazwa..."
        [ngClass]="{ 'invalid-text': !nameValid }"
        [(ngModel)]="recipe.name"
      ></ion-input>
      <div class="header-text py-1">Opis</div>
      <ion-textarea
        placeholder="Opis..."
        [ngClass]="{ 'invalid-text': !descriptionValid }"
        [(ngModel)]="recipe.description"
      ></ion-textarea>
      <app-text-info
        [title]="'Cukier'"
        [hintText]="
          'Podaj ilość cukru potrzebną do wytworzenia 10 litrów, wytrawnego wina 10%'
        "
      ></app-text-info>
      <div class="flex items-center">
        <div class="w-1/2">
          <ion-input
            min="0"
            max="3740"
            [ngClass]="{ 'invalid-text': !sugarValid }"
            placeholder="Ilość..."
            type="number"
            [(ngModel)]="sugar"
          ></ion-input>
        </div>
        <span>&nbsp;g.</span>
      </div>

      <app-text-info
        [title]="'Składniki'"
        [hintText]="
          'Podaj składniki potrzebne do wytworzenia 10 litrów wina. Składniki nie
    powinny zawierać drożdży, wody oraz cukru.'
        "
      ></app-text-info>

      <div class="ingredient-container pt-1">
        <span>Nazwa</span>
        <span>Ilość</span>
        <span>Jesdnostka</span>
        <span></span>
      </div>
      <div *ngFor="let ingredient of recipe.ingredients; index as i">
        <div class="ingredient-container py-2">
          <ion-input
            [ngClass]="{ 'invalid-text': !ingredientsValidElements[i].name }"
            placeholder="Nazwa..."
            [(ngModel)]="ingredient.name"
          ></ion-input>
          <ion-input
            class="text-center"
            [ngClass]="{ 'invalid-text': !ingredientsValidElements[i].value }"
            placeholder="Waga..."
            type="number"
            [(ngModel)]="ingredient.value"
          ></ion-input>
          <ion-select
            [ngClass]="{ 'invalid-text': !ingredientsValidElements[i].unit }"
            [(ngModel)]="ingredient.unit"
            placeholder="..."
            cancelText="Anuluj"
            okText="Wybierz"
          >
            <ion-select-option value="g.">Gramy</ion-select-option>
            <ion-select-option value="l.">Litry</ion-select-option>
            <ion-select-option value="sztuk">Sztuki</ion-select-option>
          </ion-select>
          <span
            *ngIf="recipe.ingredients.length > 1"
            class="circle-button-small"
            (click)="deleteIngredientClick(i)"
            >-</span
          >
        </div>
        <hr />
      </div>
      <div class="flex justify-center pt-2">
        <span class="circle-button-small" (click)="newIngredientClick()"
          >+</span
        >
      </div>
      <app-text-info
        [title]="'Przygotowanie moszczu'"
        [hintText]="
          'Opisz proces przygotowywania moszczu. Powinien on zawierać proces przygotowywania wymienionych przez Ciebie składników.'
        "
      ></app-text-info>
      <ion-textarea
        placeholder="Opis..."
        [ngClass]="{ 'invalid-text': !mustDescriptionValid }"
        [(ngModel)]="mustDescription"
      ></ion-textarea>
      <div class="pt-4 flex justify-end">
        <span class="standard-button" (click)="addRecipe()">Dalej</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="showPreview">
    <app-add-recipe-preview
      [recipe]="recipe"
      (onBackClick)="showPreview = false"
    ></app-add-recipe-preview>
  </ng-container>
</ion-content>
