<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Gotowe wina </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-2"></div>
  <div class="w-full flex justify-between pt-2 px-5 pb-1">
    <ion-input
      class="mr-2 search-input"
      placeholder="Wyszukaj..."
      (input)="searchChangeEvent($event)"
    ></ion-input>
    <div class="w-1/2"></div>
  </div>
  <ng-container *ngFor="let wine of showingWines">
    <app-wines-list-element
      [wine]="wine"
      [wineId]="wine.id"
      (onWineSelect)="showWine($event)"
    ></app-wines-list-element>
  </ng-container>
  <ng-container *ngFor="let wine of showingWinesNotAvailable">
    <app-wines-list-element
      [wine]="wine"
      [wineId]="wine.id"
      (onWineSelect)="showWine($event)"
    ></app-wines-list-element>
  </ng-container>
  <div
    *ngIf="showingWinesNotAvailable.length + showingWines.length === 0"
    class="text-center py-5 uppercase"
  >
    Brak win
  </div>
</ion-content>
