.ingredient-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: ". . .";
  width: 100%;
  height: 100%;
}
