<div class="standard-frame">
  <div class="header-text pb-1">Nazwa</div>
  <ion-input placeholder="Nazwa..."></ion-input>
  <div class="header-text py-1">Data nastawienia</div>
  <ion-datetime
    placeholder="Data"
    monthShortNames="sty, lut, mar, kwi, maj, cze, lip, sie, wrz, paz, lis, gru"
    doneText="Zatwierdź"
    cancelText="Anuluj"
  ></ion-datetime>
  <div class="header-text pt-1">Zawartość alkoholu</div>
  <div class="flex items-center">
    <div class="w-2/3">
      <ion-range
        class="p-0"
        min="8"
        max="22"
        snaps="true"
        value="12"
        ticks="false"
        color="light"
      ></ion-range>
    </div>
    <div class="1/3 pl-3">10%</div>
  </div>
  <div class="header-text">Słodkość</div>
  <div class="flex items-center">
    <div class="w-2/3">
      <ion-range
        class="p-0"
        min="0"
        max="3"
        value="1"
        snaps="true"
        color="light"
        ticks="false"
        snaps
      ></ion-range>
    </div>
    <div class="1/3 pl-3">półwytrawne</div>
  </div>
  <div class="flex justify-between items-center">
    <div class="header-text">Składniki</div>
    <div>
      <img
        class="w-6 h-6"
        (click)="newIngredientClick()"
        src="assets/icons/Add-button-dark.svg"
      />
    </div>
  </div>
  <div class="pl-2">
    <div class="ingredient-container pt-2">
      <span>Nazwa</span>
      <span>Ilość</span>
      <span></span>
    </div>
    <div *ngFor="let ingredient of ingredients; index as i">
      <div class="ingredient-container py-2">
        <ion-input
          placeholder="Nazwa..."
          [(ngModel)]="ingredient.name"
        ></ion-input>
        <ion-input
          placeholder="Waga..."
          [(ngModel)]="ingredient.weight"
        ></ion-input>
        <span class="flex justify-between items-center">
          <span>kg.</span>
          <img
            class="w-5 h-5"
            (click)="deleteIngredientClick(i)"
            src="assets/icons/Delete-button-dark.svg"
        /></span>
      </div>
      <hr />
    </div>
  </div>

  <div class="pt-4 flex justify-between">
    <span class="standard-button" (click)="backClick()">Cofnij</span>
    <span class="standard-button" (click)="nextClick()">Dalej</span>
  </div>
</div>
