<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="absolute top-1 left-0" slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> Przepis </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="standard-frame">
    <div class="big-header-text pt-1">{{ recipe.name }}</div>
    <div>
      <div>autor: {{ recipe.author }}</div>
      <div class="header-text py-1">Składniki na 10 litrów:</div>
      <div
        class="pl-2 items-center"
        *ngFor="let ingredient of recipe.ingredients"
      >
        - {{ ingredient.name }}: {{ ingredient.value }} {{ ingredient.unit }}
      </div>

      <div class="header-text py-1">Etapy produkcji:</div>
      <div class="pl-2 items-center" *ngFor="let stage of recipe.productStages">
        <div class="font-semibold">
          Dzień {{ stage.date / 86400000 }}: {{ stage.name }}
        </div>
        <div class="pl-1">
          {{ getStageDescription(stage.name) }}
        </div>
        <hr class="mb-2" />
      </div>
    </div>
    <div class="pt-2 flex justify-end">
      <span class="standard-button" (click)="selectRecipe()"
        >Użyj tego przepisu</span
      >
    </div>
  </div>
</ion-content>
