<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Poradniki </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-2"></div>
  <div class="w-full flex justify-between pt-2 px-5 pb-1">
    <ion-input
      class="mr-2 search-input"
      placeholder="Wyszukaj..."
      (input)="searchChangeEvent($event)"
    ></ion-input>
    <div class="w-1/2"></div>
  </div>
  <ng-container *ngFor="let guide of showingGuides">
    <div class="standard-frame" (click)="selectGuide(guide.slug)">
      <div class="flex justify-between items-center">
        <div class="header-text">{{guide.title}}</div>
        <ion-icon
          *ngIf="guide.calculator !== undefined"
          name="calculator-outline"
        ></ion-icon>
      </div>
      <div>
        <span [innerHTML]="guide.description.substring(0,150)"></span>...
      </div>
    </div>
  </ng-container>
</ion-content>
