<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Poradniki </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-2"></div>
  <div class="w-full flex justify-between pt-2 px-5 pb-1">
    <ion-input
      class="mr-2"
      placeholder="Wyszukaj..."
      (input)="searchChangeEvent($event)"
    ></ion-input>
    <div class="w-1/2"></div>
  </div>
  <ng-container *ngFor="let guide of showingGuides">
    <div class="standard-frame" (click)="selectGuide(guide.slug)">
      <div class="header-text">{{guide.title}}</div>
      <div class="">{{guide.description.substring(0,100)}}...</div>
    </div>
  </ng-container>
</ion-content>
