<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Nowe wino </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="standard-frame">
    <div class="header-text pb-1">Nazwa</div>
    <ion-input
      placeholder="Nazwa..."
      [ngClass]="{ 'invalid-text': !nameValid }"
      [(ngModel)]="wine.name"
    ></ion-input>
    <div class="header-text py-1">Data nastawienia</div>
    <ion-datetime
      [(ngModel)]="today"
      displayFormat="DD.MMM.YYYY"
      monthShortNames="STY, LUT, MAR, KWI, MAJ, CZE, LIP, SIE, WRZ, PAZ, LIS, GRU"
      doneText="Zatwierdź"
      cancelText="Anuluj"
    ></ion-datetime>
    <div class="header-text py-1">Litraż</div>
    <ion-input
      [ngClass]="{ 'invalid-text': !capacityValid }"
      placeholder="Ltraż..."
      type="number"
      [(ngModel)]="wine.capacity"
    ></ion-input>
    <div class="header-text pt-1">Zawartość alkoholu</div>
    <div class="flex items-center">
      <div class="w-3/5">
        <ion-range
          class="p-0"
          min="8"
          max="22"
          snaps="true"
          [(ngModel)]="wine.power"
          ticks="false"
          color="light"
        ></ion-range>
      </div>
      <div class="pl-3">{{ wine.power }}%</div>
    </div>
    <div class="header-text">Słodkość</div>
    <div class="flex items-center">
      <div class="w-3/5">
        <ion-range
          class="p-0"
          min="0"
          max="3"
          [(ngModel)]="wine.sweetness"
          snaps="true"
          color="light"
          ticks="false"
          snaps
        ></ion-range>
      </div>
      <div class="pl-3">{{ Sweetness[wine.sweetness] }}</div>
    </div>
    <!-- <div class="header-text">Składniki</div>
    <div class="pl-2">
      <div class="ingredient-container pt-1">
        <span>Nazwa</span>
        <span>Ilość</span>
        <span></span>
      </div>
      <div *ngFor="let ingredient of wine.recipe.ingredients">
        <div class="ingredient-container py-2">
          <span>{{ ingredient.name }}</span>
          <span>{{ ingredient.value }}</span>
          <span>kg.</span>
        </div>
        <hr />
      </div>
    </div> -->

    <div class="pt-4 flex justify-between">
      <span class="standard-button" (click)="backClick()">Cofnij</span>
      <span class="standard-button" (click)="nextClick()">Dalej</span>
    </div>
  </div>
</ion-content>
