<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="absolute top-1 left-0" slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> Nowe wino </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="standard-frame">
    <div class="header-text pb-1">Nazwa</div>
    <ion-input
      placeholder="Nazwa..."
      [ngClass]="{ 'invalid-text': !nameValid }"
      [(ngModel)]="wine.name"
    ></ion-input>
    <div class="header-text py-1">Data nastawienia</div>
    <ion-datetime
      [(ngModel)]="today"
      displayFormat="DD.MMM.YYYY"
      [max]="nextYear"
      monthShortNames="STY, LUT, MAR, KWI, MAJ, CZE, LIP, SIE, WRZ, PAZ, LIS, GRU"
      doneText="Zatwierdź"
      cancelText="Anuluj"
    ></ion-datetime>
    <div class="header-text py-1">Litraż</div>
    <ion-input
      [ngClass]="{ 'invalid-text': !capacityValid }"
      placeholder="Ltraż..."
      type="number"
      [(ngModel)]="wine.capacity"
    ></ion-input>
    <div class="header-text py-1">Drożdże</div>
    <ion-input placeholder="Nazwa..." [(ngModel)]="wine.yeast"></ion-input>
    <div class="header-text pt-1">Tolerancja drożdży na alkohol</div>
    <div class="flex items-center">
      <div class="w-3/5">
        <ion-range
          class="p-0"
          min="9"
          max="21"
          snaps="true"
          (ionChange)="yeastToleranceChange()"
          [(ngModel)]="wine.yeastTolerance"
          ticks="false"
          color="light"
        ></ion-range>
      </div>
      <div class="pl-3">{{ wine.yeastTolerance }}%</div>
    </div>
    <app-text-info
      [title]="'Zawartość alkoholu'"
      [hintText]="
        'Najprościej jest wytworzyć wino o mocy równej tolerancji drożdży na alkohol.'
      "
    ></app-text-info>
    <div class="flex items-center">
      <div class="w-3/5">
        <ion-range
          class="p-0"
          min="8"
          [max]="wine.yeastTolerance"
          snaps="true"
          [(ngModel)]="wine.power"
          ticks="false"
          color="light"
        ></ion-range>
      </div>
      <div class="pl-3">{{ wine.power }}%</div>
    </div>
    <div class="header-text">Słodkość</div>
    <div class="flex items-center">
      <div class="w-3/5">
        <ion-range
          class="p-0"
          min="0"
          max="3"
          [(ngModel)]="wine.sweetness"
          snaps="true"
          color="light"
          ticks="false"
          snaps
        ></ion-range>
      </div>
      <div class="pl-3">{{ Sweetness[wine.sweetness] }}</div>
    </div>
    <div class="pt-4 flex justify-end">
      <span class="standard-button" (click)="nextClick()">Dalej</span>
    </div>
  </div>
</ion-content>
